<template lang='pug'>
  vListItem(:to='to' color='accent')
    vListItemIcon
      vIcon {{ icon }}
    vListItemContent
        vListItemTitle {{ title }}
</template>

<script lang='ts'>
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component({})
export default class DrawerItem extends Vue {

  @Prop(String) readonly icon: string;
  @Prop(String) readonly title: string;
  @Prop(String) readonly to: string;

}
</script>