<template lang='pug'>
    vNavigationDrawer(app dark clipped :value='value' @input='$emit("input", $event)')
      vList(flat): slot
</template>

<script lang='ts'>
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component({})
export default class TheDrawer extends Vue {
  
  @Prop(Boolean) readonly value: boolean;

}
</script>