<template lang='pug'>
    vAppBar(app color='primary' dark clipped-left)
      vAppBarNavIcon(@click='onNavClick')
      vToolbarTitle {{ title }}
      vSpacer
      vBtn.px-1.py-5(text min-width='0' target='_blank' :href='repo')
        .text-none.hidden-xs-only.pr-2 View Repo
        vImg(:src='gitlabLogo' height='30' width='30' contain)
</template>

<script lang='ts'>
import { Vue, Component, Prop } from 'vue-property-decorator';
import gitlabLogo from '@/assets/gitlab.png';

@Component({})
export default class TheNavbar extends Vue {

  @Prop(String) readonly title: string;
  @Prop(String) readonly repo: string;
  @Prop(Function) readonly navClick: Function;
  
  gitlabLogo = gitlabLogo;

  onNavClick() {
    this.$emit('navClick');
  }

}
</script>