<template lang='pug'>
    notifications(position='bottom right' :width='width')
</template>

<script lang='ts'>
import { Vue, Component } from 'vue-property-decorator';

@Component({})
export default class TheNotification extends Vue {

  get width() {
    return (this.$vuetify.breakpoint.width < 500) ? '100%' : 500;
  }

}
</script>