<template lang='pug'>
  div
    h1.display-1.mb-5 Playground
    p Here goes some components ready to be tested.
    .mt-5
      h2.headline Alert
      p Click on a button to trigger a corresponding alert.
      vBtn.mx-2(v-for='type of notifTypes' :key='type' :color='type' @click.native='notify(type)') {{ type }}
    .mt-5
      h2.headline Server Input Output
      p Test the communication with the server
      vBtn.mx-2(color='secondary' @click.native='pingServer') Click me!
</template>

<script lang='ts'>
import { Vue, Component } from 'vue-property-decorator';
import { Receive, Send } from '@/plugins/decorators';
import menuRoutes from '@/router/routes/menuRoutes';

@Component({})
export default class Playground extends Vue {

  notifTypes = ['primary', 'secondary', 'accent', 'info', 'warning', 'error', 'success']
  routes = menuRoutes;

  @Send('isUp')
  pingServer() {
    return Date.now();
  }

  @Receive('isUp')
  notifyServerResponded({ time, title }) {
    this.$notify({ type: 'secondary', title, text: `Responded in ${time}ms` });
  }

  notify(type) {
    this.$notify({
      type,
      title: 'Message Title',
      text: `Hello! This is a "${type}" notification!`
    });
  }

}

</script>
