@function themeColor($color) {
  @return var(--v-#{$color}-base);
}

@function themeDarken($color, $pow: 1) {
  @return var(--v-#{$color}-darken#{$pow});
}

@function themeLighten($color, $pow: 1) {
  @return var(--v-#{$color}-lighten#{$pow});
}