@import 'mixins';

* {
  font-family: sans-serif;
  letter-spacing: initial;
}

.vue-notification {

  font-size: 1em !important;

  $types: primary, secondary, accent, info, warning, error, success;
  @each $type in $types {
    &.#{$type} {
      @include notifColor($type);
    }
  }

}
