<template lang='pug'>
  div
    theNotification
    vApp(dark)
      theNavbar(:title='title' @navClick='toggleDrawer' :repo='repo')
      theDrawer(v-model='drawer').elevation-5
        drawerItem(v-for='route of menuRoutes' :key='route.name' :title='route.name' :icon='route.icon' :to='route.path')
      vContent
        vContainer(fluid)
          routerView
</template>

<script lang='ts'>
import { Vue, Component } from 'vue-property-decorator';
import TheNavbar from '@/components/TheNavbar.vue';
import TheDrawer from '@/components/TheDrawer.vue';
import DrawerItem from '@/components/DrawerItem.vue';
import theNotification from '@/components/theNotification.vue';
import menuRoutes from '@/router/routes/menuRoutes';
import { displayName, repository } from '@/../../package.json';

const components = {
  TheNavbar,
  TheDrawer,
  DrawerItem,
  theNotification
};

@Component({ components })
export default class App extends Vue {

  drawer = null;
  title = displayName;
  repo = repository;
  menuRoutes = menuRoutes;

  toggleDrawer() {
    this.drawer = !this.drawer;
  }

}
</script>